*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html, body{
  overflow-x: hidden;
}

p{
  margin-bottom: 0;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

button{
  all: unset;
}

.offcanvas-body li{
  margin:0 0 20px;
}

.offcanvas-body button{
  color: #000;
}

html, body{
  color: #fff;
  background-color: #000;
}

.login-form{
  width: 40% !important;
  background-color: #dcdcdc;
  padding: 3rem !important;
}

.loginBg{
  position: fixed;
  top: 0;
  left: 0;
  /* transform: translate(-50%, -50%); */
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

form label{
  color: #242424 !important;
}

.stats{
  color: #fff;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: space-between;
  padding: .5rem 5rem;
  gap: 1rem;
}

.stats2{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: space-between;
  padding: .5rem 5rem;
  gap: 1rem;
  margin-bottom: 2rem;
}

.totalUsers, .totalActiveUsers{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px 13px;
  border-radius: 3px;
  gap: 3rem;
}

.totalUsers h6, .totalActiveUsers h6{
  font-size: 32px;
}

.searchUser{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
  /* gap: 10px; */
}

.searchUser input{
  outline: none;
  background-color: transparent;
  color: #fff;
  border: 1px solid #9a9a9a;
  padding: 3px 5px;
  width: 25%;
}

.searchUser input::placeholder{
  font-size: 13px;
}

.searchUser i{
  background-color: #fff;
  color: #000;
  padding: 8px;
}

.fa-users{
  background-color: rgba(0, 116, 210, 0.11);
  color: #0085d2;
  padding: 10px;
  border-radius: 7px;
  font-size: 24px;
}

.fa-money-check-dollar{
  background-color: rgba(108, 156, 129, 0.11);
  color: #799384;
  padding: 10px;
  border-radius: 7px;
  font-size: 24px;
}

.fa-money-bill-trend-up{
  background-color: rgba(0, 210, 91, 0.11);
  color: #00d25b;
  padding: 10px;
  border-radius: 7px;
  font-size: 24px;
}

.totalUsers .fa-users-slash{
  background-color: rgba(210, 0, 0, 0.11);
  color: #d20000;
  padding: 10px;
  border-radius: 7px;
  font-size: 24px;
}

.totalUsers .fa-user-check{
  background-color: rgba(210, 210, 0, 0.11);
  color: #d2c800;
  padding: 10px;
  border-radius: 7px;
  font-size: 24px;
}

.totalActiveUsers, .totalUsers{
  background-color: #191C24;
}

.emailSendBtn{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -20px;
  margin-bottom: 2rem;
  /* padding: 0 5rem; */
}

.emailSendBtn button{
  background-color: #191C24;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

.emailUserBg{
  background-color: #000000c8;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.emailBox{
  background-color: #fff;
  width: 40%;
  position: relative;
  padding: 2.5rem 2rem;
  color: #000;
  border-radius: 5px;
}

.emailBox select{
  outline: none;
  border: 1px solid #000000c8;
  font-size: 13px;
  cursor: pointer;
}

.sendMessage{
  margin-top: 1rem;
}

.sendMessage div label{
  display: block;
  font-size: 13px;
}

.sendMessage div{
  margin: .5rem 0;
}

.sendMessage input{
  outline: none;
  border: 1px solid #001b3ade;
  font-size: 13px;
  padding: 5px;
  width: 100%;
}

.sendMessage textarea{
  outline: none;
  border: 1px solid #001b3ade;
  font-size: 13px;
  padding: 5px;
  width: 100%;
}

.emailBox button{
  background-color: #198754;
  padding: 5px 10px;
  color: #fff;
  border-radius: 3px;
  display: block;
  margin: 0 auto;
}

.loaderBg{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  font-size: 5rem;
  background-color: rgba(0, 0, 0, 0.868);
  display: flex;
  align-items: center;
  justify-content: center;
}

.emailBox .fa-rectangle-xmark{
  cursor: pointer;
  color: #191C24;
  font-size: 1.2rem;
  position: absolute;
  top: 4%;
  right: 4%;
}

.emailBox i:hover{
  color: #d20000;
}

#loader{
  font-size: 5rem;
}

.user-details-container{
  padding: 1rem 5rem;
}

.user-details{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  /* gap: 3rem; */
  margin-bottom: 2rem;
}

.user-details h4{
  border-bottom: 1px solid #fff;
  width: 100%;
}

.user-detail-loader{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 3rem 0;
}

.user-detail-loader i{
  font-size: 1.5rem;
}

.user-info{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.user-info div{
  margin: 1rem 0;
}

.userInfo{
  overflow-x: hidden;
  padding: .5rem;
}

.userInfo h5{
  font-size: 1rem;
  margin-bottom: 15px;
}

@media screen and (max-width:1310px) {
  .stats{
    padding: 1rem 3rem;
  }
}

@media screen and (max-width:992px) {
  .login-form{
    width: 70% !important;
  }

  .stats{
    grid-template-columns: repeat(2, 1fr);
  }

  .stats2{
    padding: 0 3rem;
  }

  .searchUser input{
    width: 70%;
  }

  .user-details-container{
    padding: 1rem 3rem;
  }

  .emailBox{
    width: 60%;
  }
}

@media screen and (max-width:820px) {
  table{
    display: none;
  }

  .mobileUserInfo{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 2rem;
  }

  .userInfo{
    background-color: #191C24;
    border-radius: 5px;
    border: 1px solid #eeeeee37;
  }
}

@media screen and (max-width: 768px) {
  .user-info{
    grid-template-columns: 1fr;
  }

  .mobileUserInfo{
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
  }
}

@media screen and (max-width:576px) {
  .login-form{
    width: 90% !important;
    padding: 1.5rem !important;
  }

  .stats i, .stats2 i{
    display: none;
  }

  .stats h6, .stats2 h6{
    font-size: 20px;
  }

  .stats p, .stats2 p{
    font-size: 12px;
  }

  .searchUser input{
    width: 90%;
  }

  .user-details-container{
    padding: 1.5rem;
  }

  .emailBox{
    width: 80%;
  }
}

@media screen and (max-width:375px) {
  .stats, .stats2{
    padding: 1rem;
    
  }

  .stats2{
    padding-top: 0;
  }

  .emailBox{
    width: 90%;
    padding: 1rem;
  }

  .totalActiveUsers, .totalUsers{
    height: 90px;
    width: 130px;
  }
}